name: Deploy to Cloudflare Pages

on:
  push:
    branches:
      - main # прод
      - develop # тестовое окружение (можешь назвать test/staging)

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install pnpm
        run: npm install -g pnpm@9

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build project for Cloudflare
        run: pnpm build:cloudflare

      - name: Publish to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: ${{ github.ref == 'refs/heads/main' && 'portfolio-mf-prod' || 'portfolio-mf-test' }}
          directory: ".vercel/output/static"
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
